<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML-game</title>
    <link href="public/game.css" rel="stylesheet">
</head>
<body>

<div id="container">
    <div id="header">Дуэль</div>
    <div id="my_params" class="params">
        <img src="public/1.png">
        <br> Я:
        <br> Имя: ${my_name}
        <br> Здоровье:
        <br> <progress value=${my_health} max=${my_life}></progress>
        <br> Урон: ${my_damage}
        <br> Рейтинг: ${my_rating}</div>
    <div id="his_params" class="params">
        <img src="public/1.png">
        <br> Соперник:
        <br> Имя: ${his_name}
        <br> Здоровье:
        <br> <progress value=${his_health} max=${his_life}></progress>
        <br> Урон: ${his_damage}
        <br> Рейтинг: ${his_rating}</div>
    <div id="content">
        <div id="log">
            ${log}
        </div>
        <form action="/duel" method="get">
        <input type="hidden" name="attack">
        <input type="submit" value=${text_button}>
        </form>
    </div>
    <div id="footer"><br> ${statistics}</div>
</div>

</body>
</html>