<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML-игра</title>
    <link href="public/game.css" rel="stylesheet">
</head>
<body>
<div id="container">
    <div id="header">Игра</div>
    <div id="content">
        ${msg}<br>
        <form action="/" method="post">
            ИМЯ:<input type="text" name="login">
            ПАРОЛЬ: <input type="text" name="password"><br>
            <input type="submit" value="Вход">
        </form>
    </div>
    <div id="footer"><br> ${statistics}</div>
</div>
</body>
</html>